<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>VERSO OnePager HTML5 Responsive Template</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<%= partial "stylesheets" %>
<%= partial "icons" %>
</head>
<!--/ HEAD-->
    <%= yield %>
</html>
