<!-- ABOUT SECTION-->
<section id="about-section">
  <!-- ABOUT and TEAM-->
  <div class="color-bottom-line row">
    <div class="span12">
      <h3 class="line center standart-h2title">
        <span class="large-text main-color">OUR HOSTING TEAM</span>
      </h3>
    </div>		
    </div>    

    <div class="row">
    <div class="span6 textleft">

      <h4>Vic Howie</h4>
      <p class="">
      After creating two startup adventure travel companies, one with a successful exit and one not so, Vic 
      also fulfilled an entrepreneur's dream as the Founder and Chairman of the US National Whitewater Center in Charlotte. 
      He is a managing partner of <a href="http://www.wealthmanagement.ml.com/wm/system/viewfapage.aspx?pageurl=harding-howie">Harding Howie Partners</a> at Merrill Lynch, who advise and manage the financial affairs for a select group of entrepreneurs and privately-held business owners and their families, with special emphasis on planning for liquidity events and wealth preservation and transfer. He also serves on the Alumni Board at the College of Charleston and on the Parents Council at UNC Chapel Hill.
      <div class="no-color-line-no-border3"></div>
      <hr class="half2">
    </div>
    <div class="span3 offset1 project-itembox">
      <div class="thumbnail">

        <!-- IMAGE CONTAINER-->
        <div class="sample project-item-image-container">
          <img src="images/vic-headshot.png" alt="Vic Howie Headshot" /> 
        </div> 
        <!--END IMAGE CONTAINER-->

        <!-- CAPTION -->

        <div class="caption">
          <div class="transit-to-top">
            <h3 class="p-title standart-h3title">Vic Howie</h3>
            <p class="caption-descr">
            <div class="widget_nav_menu"> 
              <ul class="socialIcons">
                <li class="linkedin"><a href="http://www.linkedin.com/in/vichowie">linkedin</a></li>
                <li class="twitter"><a href="http://www.twitter.com/vhowie1">twitter</a></li>
              </ul>
              </p>
            </div>
          </div> 
          <!--END CAPTION -->
        </div>
        <!-- END: THUMBNAIL -->
        </div>
      </div>
    </div>

    <div class="row">
    <div class="span6 textleft">

      <h4>Jim Van Fleet</h4>
      <p class="">
      In addition to being a leader of the software development community in Charlotte, Jim Van Fleet is President and founder of it's bspoke, a boutique software consultancy. His <a href="http://itsbspoke.us2.list-manage.com/subscribe?u=8b4656bd4a093a3bcabfda08a&id=564f168838">monthly startup newsletter</a> has reached over one thousand subscribers. He has been programming computers professionally for over 15 years and has degrees in Computer Science and Managerial Studies from Rice University.  
      He currently serves as Brigade Captain for <a href="http://codeforamerica.org/cities/charlotte/">Code for Charlotte.</a> 
      <div class="no-color-line-no-border3"></div>
      <hr class="half2">
    </div>
    <div class="span3 offset1 project-itembox">
      <div class="thumbnail">

        <!-- IMAGE CONTAINER-->
        <div class="sample project-item-image-container">
          <img src="images/jvf-headshot.jpg" alt="Jim Van Fleet Headshot" /> 
        </div> 
        <!--END IMAGE CONTAINER-->

        <!-- CAPTION -->

        <div class="caption">
          <div class="transit-to-top">
            <h3 class="p-title standart-h3title">Jim Van Fleet</h3>
            <p class="caption-descr">
            <div class="widget_nav_menu"> 
              <ul class="socialIcons">
                <li class="facebook"><a href="http://www.facebook.com/bigfleet">facebook </a></li>
                <li class="linkedin"><a href="http://www.linkedin.com/in/jimvanfleet">linkedin </a></li>
                <li class="twitter"><a href="http://www.twitter.com/bigfleet">twitter</a></li>
              </ul>
              <div class="phone-info"><i class="fa-icon-phone-sign"></i> + 1 (704) 951-7829</div>
              </p>
            </div>
          </div> 
          <!--END CAPTION -->
        </div>
        <!-- END: THUMBNAIL -->
        </div>
      </div>
    </div>

     <div class="row">
     <div class="span6 textleft">

      <h4>Juan Garz贸n</h4>
      <p class="">
      Juan joined the TechBreakfast hosting team in March 2014. With over a decade of marketing and communications experience as both an entrepreneur and corporate manager, Juan is currently a Messaging Strategist and Principal at <a href="http://garzonco.com/">The Garz贸n Company</a>. In 2004, he created an online mobile home financing business. Then as head of marketing for a global market research firm, he spearheaded a rebranding effort and marketing overhaul that contributed to an almost 400% growth in revenue in 3 years. Juan also volunteers as a coach and mentor for RevTech, Impact3, and TEDxEducation, and has spoken at Ignite Charlotte.
      Most recently, he was the Master of Ceremonies for <a href="http://charlottestartupweekend.org">Charlotte Startup Weekend</a> in January of 2014.
      <div class="no-color-line-no-border3"></div>
      <hr class="half2">
    </div>
    <div class="span3 offset1 project-itembox">
      <div class="thumbnail">

        <!-- IMAGE CONTAINER-->
        <div class="sample project-item-image-container">
          <img src="images/juan-headshot.jpg" alt="Juan Garz贸n" /> 
        </div> 
        <!--END IMAGE CONTAINER-->

        <!-- CAPTION -->

        <div class="caption">
          <div class="transit-to-top">
            <h3 class="p-title standart-h3title">Juan Garz贸n</h3>
            <p class="caption-descr">
            <div class="widget_nav_menu"> 
              <ul class="socialIcons">
                 <li class="linkedin"><a href="http://www.linkedin.com/in/jcgarzon">linkedin </a></li>
                <li class="twitter"><a href="http://www.twitter.com/jcgarzon">twitter</a></li>
              </ul>
              </p>
            </div>
          </div> 
          <!--END CAPTION -->
        </div>
        <!-- END: THUMBNAIL -->
        </div>
      </div>
    </div>
     
  <!-- /SPONSORS-->

  <div class="color-bottom-line row">
    <div class="span12">
      <h3 class="line center standart-h2title">
        <span class="large-text main-color">OUR SPONSORS</span>
      </h3>
    </div>		
  </div>
  <!--- CLIENTS ROTATOR ## -->
  <div class="row-fluid">
    <!-- FEATURE ITEM-->
    <div class="span4"> 
      <img src="/images/technocom-logo.jpg" width="163"/>
      <h3 class="features-title"><a href="http://www.technocomusa.com/"><span class="firstword">Technocom</span></a></h3>
      <p class="features">
      TechnoCom is our breakfast and coffee sponsor, so we love them.  And we love this <a href="http://www.technocomusa.com/letter-to-competitors">Letter to their Competitors</a>, as well.  You got it!
      </p>
    </div>
    <!-- END FEATURE ITEM-->	
    <!-- FEATURE ITEM-->
    <div class="span4"> 
      <img src="/images/packard-logo.png" />
      <h3 class="features-title"><a href="http://www.packardplace.us/"><span class="firstword">Packard Place</span></a></h3>
      <p class="features">
      In addition to hosting TechBreakfast and IDEA Pitch, Packard Place is the premier meeting space for Charlotte entrepreneurs.  <a href="http://packardplace.us2.list-manage.com/subscribe?u=a01f28c7e74c2b69b07d8c857&amp;id=eb856f7bc9">Subscribe to their newsletter</a>.
      </p>
    </div>
    <!-- FEATURE ITEM-->
    <!-- FEATURE ITEM-->
    <div class="span4"> 
      <img src="/images/mailvu-logo.gif" />
      <h3 class="features-title"><a href="http://www.mailvu.com"><span class="firstword">MailVu</span></a></h3>
      <p class="features">
      MailVU hosts our submissions for IDEA Pitch, and provided A/V help for this <a href="http://mailvu.com/msg/m0be5d02928a34b2294208f3393b01fa4">Brad Feld interview</a>.
      </p>
    </div>
    <!-- FEATURE ITEM-->

  </div>
  <!---END: CLIENTS ROTATOR ## -->

  <!--/ ABOUT SECTION-->
</section>
