<!-- ABOUT SECTION-->
<section id="about-section">
<!-- ABOUT and TEAM-->
<div class="color-bottom-line row">
	<div class="span12">
		<h3 class="line center standart-h2title">
			<span class="large-text main-color">ABOUT US & TEAM</span>
		</h3>
	</div>		
</div>
<div class="row">
  <div class="span6 textleft">
		<!-- TITLE -->
		<h2 class="folio-title">ABOUT US <span class="main-color">&amp;</span> OUR TEAM</h2>
					 
	<!-- PARAGRAPH -->
	<h4>Our Team</h4>
	<p class="">
	Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
	</p>
	<h4>Our History</h4>
	<p>
	Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
	</p>
	<h4>Our Vision</h4>
	<p>
	Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
	</p>
	<h4>Our Experience</h4>
	<p>
	Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
	</p>
					<!-- END PARAGRAPH -->
					
	<!-- DEVIDER LINE -->
	<div class="no-color-line-no-border3"></div>
	<hr class="half2">
</div>
<!-- TEAM ASIDE -->
	 <!-- team  item -->
          <div class="span3  project-itembox">
		  <div class="thumbnail">
            
				<!-- IMAGE CONTAINER-->
            <div class="sample project-item-image-container">
				<img src="images/team1.jpg" alt="iPhonegraphy" /> 
			 </div> 
			 <!--END IMAGE CONTAINER-->
			 
			 <!-- CAPTION -->
			
			 <div class="caption">
					  <div class="transit-to-top">
						  <h3 class="p-title standart-h3title">John Doe <small>CEO, VERSO</small></h3>
						  <p class="caption-descr">
						  <div class="widget_nav_menu"> 
				<ul class="socialIcons">
						<li class="facebook"><a href="#">facebook </a></li>
						<li class="linkedin"><a href="#">linkedin </a></li>
						<li class="twitter"><a href="#">twitter</a></li>
						<li class="googleplus"><a href="#">googleplus</a></li>
						</ul>
						<div class="phone-info"><i class="fa-icon-phone-sign"></i> + 4 (123) 456-7890</div>							
						</p>
					  </div>
				  </div> 
				  <!--END CAPTION -->
			</div>
			<!-- END: THUMBNAIL -->
          </div> 
		  </div>
<!-- END: team  item-->
		
<!-- team  item -->
          <div class="span3  project-item box">
		  <div class="thumbnail">
            
				<!-- IMAGE CONTAINER-->
            <div class="sample project-item-image-container">
				<img src="images/team1.jpg" alt="iPhonegraphy" /> 
			 </div> 
			 <!--END IMAGE CONTAINER-->
			 
			 <!-- CAPTION -->
			
			 <div class="caption">
					  <div class="transit-to-top">
						  <h3 class="p-title standart-h3title">John Doe <small>CEO, VERSO</small></h3>
						  <p class="caption-descr">
						  <div class="widget_nav_menu"> 
				<ul class="socialIcons">
						<li class="facebook"><a href="#">facebook </a></li>
						<li class="linkedin"><a href="#">linkedin </a></li>
						<li class="twitter"><a href="#">twitter</a></li>
						<li class="googleplus"><a href="#">googleplus</a></li>
						</ul>
						<div class="phone-info"><i class="fa-icon-phone-sign"></i> + 4 (123) 456-7890</div>							
						</p>
					  </div>
				  </div> 
				  <!--END CAPTION -->
			</div>
			<!-- END: THUMBNAIL -->
          </div> 
		  </div>
<!-- END: team  item-->
	
<!-- team  item -->
          <div class="span3  project-itembox">
		  <div class="thumbnail">
            
<!-- IMAGE CONTAINER-->
            <div class="sample project-item-image-container">
				<img src="images/team1.jpg" alt="iPhonegraphy" /> 
			 </div> 
<!--END IMAGE CONTAINER-->
			 
<!-- CAPTION -->
		<div class="caption">
			<div class="transit-to-top">
				<h3 class="p-title standart-h3title">John Doe <small>CEO, VERSO</small></h3>
				<p class="caption-descr">
			<div class="widget_nav_menu"> 
				<ul class="socialIcons">
					<li class="facebook"><a href="#">facebook </a></li>
					<li class="linkedin"><a href="#">linkedin </a></li>
					<li class="twitter"><a href="#">twitter</a></li>
					<li class="googleplus"><a href="#">googleplus</a></li>
				</ul>
					<div class="phone-info"><i class="fa-icon-phone-sign"></i> + 4 (123) 456-7890</div>							
				</p>
			 </div>
		</div> 
				  <!--END CAPTION -->
			</div>
			<!-- END: THUMBNAIL -->
          </div> 
		  </div>
<!-- END: team  item-->
		
<!-- team  item -->
          <div class="span3  project-item box">
		  <div class="thumbnail">
            
				<!-- IMAGE CONTAINER-->
            <div class="sample project-item-image-container">
				<img src="images/team1.jpg" alt="iPhonegraphy" /> 
			 </div> 
			 <!--END IMAGE CONTAINER-->
			 
			 <!-- CAPTION -->
			
			 <div class="caption">
					  <div class="transit-to-top">
						  <h3 class="p-title standart-h3title">John Doe <small>CEO, VERSO</small></h3>
						  <p class="caption-descr">
						  <div class="widget_nav_menu"> 
				<ul class="socialIcons">
						<li class="facebook"><a href="#">facebook </a></li>
						<li class="linkedin"><a href="#">linkedin </a></li>
						<li class="twitter"><a href="#">twitter</a></li>
						<li class="googleplus"><a href="#">googleplus</a></li>
						</ul>
						<div class="phone-info"><i class="fa-icon-phone-sign"></i> + 4 (123) 456-7890</div>							
						</p>
					  </div>
				  </div> 
				  <!--END CAPTION -->
			</div>
			<!-- END: THUMBNAIL -->
          </div> 
		  </div>
	<!-- END: team  item-->
</div>
  <!-- /ABOUT and TEAM-->

<!--- CLIENTS ROTATOR ## -->
  <div class="row-fluid">
  <!--****************-->
	<!-- CLIENTS ROTATOR -->
	<!--****************-->
	<div class="span12 clients_rotator_widget_wrap">
		<div class="color-bottom-line flex-controls-cl">
			<h3 class="line center standart-h2title">
			<span class="large-text main-color">Our clients</span></h3>
		</div>
		
		<ul class="slides">
			<li class="slide">
				<img src="images/logoclient.png" alt="" />
				<div class="overl"></div>
			</li>
			<li class="slide">
				<img src="images/logoclient.png" alt="" />
				<div class="overl"></div>
			</li>
			<li class="slide">
				<img src="images/logoclient.png" alt="" />
				<div class="overl"></div>
			</li>
			<li class="slide">
				<img src="images/logoclient.png" alt="" />
				<div class="overl"></div>
			</li>
			<li class="slide">
				<img src="images/logoclient.png" alt="" />
				<div class="overl"></div>
			</li>
			<li class="slide">
				<img src="images/logoclient.png" alt="" />
				<div class="overl"></div>
			</li>
			<li class="slide">
				<img src="images/logoclient.png" alt="" />
							<div class="overl"></div>
			</li>
			<li class="slide">
				<img src="images/logoclient.png" alt="" />
				<div class="overl"></div>
			</li>
			<li class="slide">
				<img src="images/logoclient.png" alt="" />
				<div class="overl"></div>
			</li>
			<li class="slide">
				<img src="images/logoclient.png" alt="" />
				<div class="overl"></div>
			</li>
			<li class="slide">
				<img src="images/logoclient.png" alt="" />
				<div class="overl"></div>
			</li>
			<li class="slide">
				<img src="images/logoclient.png" alt="" />
				<div class="overl"></div>
			</li>
	</ul>
			
	</div>
	<!--****************-->
	<!-- END CLIENTS ROTATOR -->
	<!--****************-->

  </div>
<!---END: CLIENTS ROTATOR ## -->
 
<!--/ ABOUT SECTION-->
</section>
