<!-- ABOUT SECTION-->
<section id="about-section">
  <!-- ABOUT and TEAM-->
  <div class="color-bottom-line row">
    <div class="span12">
      <h3 class="line center standart-h2title">
        <span class="large-text main-color">ABOUT US</span>
      </h3>
    </div>		
  </div>
  <div class="row">
    <div class="span6 textleft">
      <!-- TITLE -->
      <h2 class="folio-title">Our <span class="main-color">COFOUNDERS</span></h2>

      <!-- PARAGRAPH -->
      <h4>Jim Van Fleet</h4>
      <p class="">
      In addition to being a leader of the software development community in Charlotte, Jim Van Fleet is 
      President and founder of it's bspoke, a boutique software consultancy.  He has been programming computers
      professionally for over 15 years, and has degrees in Computer Science and Managerial Studies from Rice University.  
      His latest startup is <a href="http://www.launchpadcodeacademy.com/">Launchpad Code Academy</a>, a vocational 
      software school which will graduate its first class in Fall 2013.
      </p>
      <h4>Vic Howie</h4>
      <p class="">
      After creating two start up adventure travel companies, one with a successful exit and one not so, Vic 
      also fulfilled a entrepreneur's dream as the Founder and Chairman of the US National Whitewater Center in Charlotte. 
      He is a managing partner of Harding Howie Partners at Merrill Lynch, who advise and manage the financial affairs 
      for a select group of entrepreneurs and privately-held business owners and their families, with special emphasis 
      on planning for liquidity events and wealth preservation and transfer. He also serves on the Alumni Board at 
      the College of Charleston and on the Parents Council at UNC Chapel Hill.
      </p>
      <!-- END PARAGRAPH -->

      <!-- DEVIDER LINE -->
      <div class="no-color-line-no-border3"></div>
      <hr class="half2">
    </div>
    <!-- TEAM ASIDE -->
    <!-- team  item -->
    <div class="span3  project-itembox">
      <div class="thumbnail">

        <!-- IMAGE CONTAINER-->
        <div class="sample project-item-image-container">
          <img src="images/jvf-headshot.jpg" alt="Jim Van Fleet headshot" /> 
        </div> 
        <!--END IMAGE CONTAINER-->

        <!-- CAPTION -->

        <div class="caption">
          <div class="transit-to-top">
            <h3 class="p-title standart-h3title">Jim Van Fleet <small>usher</small></h3>
            <p class="caption-descr">
            <div class="widget_nav_menu"> 
              <ul class="socialIcons">
                <li class="facebook"><a href="http://www.facebook.com/bigfleet">facebook </a></li>
                <li class="linkedin"><a href="http://www.linkedin.com/in/jimvanfleet">linkedin </a></li>
                <li class="twitter"><a href="http://www.twitter.com/bigfleet">twitter</a></li>
              </ul>
              <div class="phone-info"><i class="fa-icon-phone-sign"></i> + 1 (704) 951-7829</div>							
              </p>
            </div>
          </div> 
          <!--END CAPTION -->
        </div>
        <!-- END: THUMBNAIL -->
      </div> 
    </div>
    <!-- END: team  item-->

    <!-- team  item -->
    <div class="span3  project-item box">
      <div class="thumbnail">

        <!-- IMAGE CONTAINER-->
        <div class="sample project-item-image-container">
          <img src="images/vic-headshot.png" height="395" alt="Vic Howie" /> 
        </div> 
        <!--END IMAGE CONTAINER-->

        <!-- CAPTION -->

        <div class="caption">
          <div class="transit-to-top">
            <h3 class="p-title standart-h3title">Vic Howie <small>show-runner</small></h3>
            <p class="caption-descr">
            <div class="widget_nav_menu"> 
              <ul class="socialIcons">
                <li class="linkedin"><a href="http://www.linkedin.com/in/vichowie">linkedin </a></li>
                <li class="twitter"><a href="http://www.twitter.com/vhowie1">twitter</a></li>
              </ul>
              <!-- <div class="phone-info"><i class="fa-icon-phone-sign"></i> + 4 (123) 456-7890</div>-->				
              </p>
            </div>
          </div> 
          <!--END CAPTION -->
        </div>
        <!-- END: THUMBNAIL -->
      </div> 
    </div>
    <!-- END: team  item-->

  </div>
  <!-- /ABOUT and TEAM-->

  <div class="color-bottom-line row">
    <div class="span12">
      <h3 class="line center standart-h2title">
        <span class="large-text main-color">OUR SPONSORS</span>
      </h3>
    </div>		
  </div>
  <!--- CLIENTS ROTATOR ## -->
  <div class="row-fluid">
    <!-- FEATURE ITEM-->
    <div class="span4"> 
      <img src="/images/technocom-logo.jpg" width="163"/>
      <h3 class="features-title"><a href="http://www.technocomusa.com/"><span class="firstword">Technocom</span></a></h3>
      <p class="features">
      TechnoCom is our breakfast and coffee sponsor, so we love them.  And we love this <a href="http://www.technocomusa.com/letter-to-competitors">Letter to their Competitors</a>, as well.  You got it!
      </p>
    </div>
    <!-- END FEATURE ITEM-->	
    <!-- FEATURE ITEM-->
    <div class="span4"> 
      <img src="/images/packard-logo.png" />
      <h3 class="features-title"><a href="http://www.packardplace.us/"><span class="firstword">Packard Place</span></a></h3>
      <p class="features">
      In addition to hosting TechBreakfast and IDEA Pitch, Packard Place is the premier meeting space for Charlotte entrepreneurs.  <a href="http://packardplace.us2.list-manage.com/subscribe?u=a01f28c7e74c2b69b07d8c857&amp;id=eb856f7bc9">Subscribe to their newsletter</a>.
      </p>
    </div>
    <!-- FEATURE ITEM-->
    <!-- FEATURE ITEM-->
    <div class="span4"> 
      <img src="/images/mailvu-logo.gif" />
      <h3 class="features-title"><a href="http://www.mailvu.com"><span class="firstword">MailVu</span></a></h3>
      <p class="features">
      MailVU hosts our submissions for IDEA Pitch, and provided A/V help for this <a href="http://mailvu.com/msg/m0be5d02928a34b2294208f3393b01fa4">Brad Feld interview</a>.
      </p>
    </div>
    <!-- FEATURE ITEM-->

  </div>
  <!---END: CLIENTS ROTATOR ## -->

  <!--/ ABOUT SECTION-->
</section>
