<!-- ABOUT SECTION-->
<section id="about-section">
<!-- ABOUT and TEAM-->
<div class="color-bottom-line row">
	<div class="span12">
		<h3 class="line center standart-h2title">
			<span class="large-text main-color">ABOUT US</span>
		</h3>
	</div>		
</div>
<div class="row">
  <div class="span6 textleft">
		<!-- TITLE -->
		<h2 class="folio-title">Our <span class="main-color">COFOUNDERS</span></h2>
					 
	<!-- PARAGRAPH -->
	<h4>Jim Van Fleet</h4>
  <p class="">
  In addition to being a leader of the software development community in Charlotte, Jim Van Fleet is President and founder of it's bspoke, a boutique software consultancy.  He has been programming computers professionally for over 15 years, and has degrees in Computer Science and Managerial Studies from Rice University.  His latest startup is <a href="http://www.launchpadcodeacademy.com/">Launchpad Code Academy</a>, a vocational software school which will graduate its first class in Fall 2013.
  </p>
	<h4>Vic Howie</h4>
	<p>
	Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
	</p>
					<!-- END PARAGRAPH -->
					
	<!-- DEVIDER LINE -->
	<div class="no-color-line-no-border3"></div>
	<hr class="half2">
</div>
<!-- TEAM ASIDE -->
	 <!-- team  item -->
          <div class="span3  project-itembox">
		  <div class="thumbnail">
            
				<!-- IMAGE CONTAINER-->
            <div class="sample project-item-image-container">
				<img src="images/team1.jpg" alt="iPhonegraphy" /> 
			 </div> 
			 <!--END IMAGE CONTAINER-->
			 
			 <!-- CAPTION -->
			
			 <div class="caption">
					  <div class="transit-to-top">
              <h3 class="p-title standart-h3title">Jim Van Fleet <small>usher</small></h3>
						  <p class="caption-descr">
						  <div class="widget_nav_menu"> 
				<ul class="socialIcons">
						<li class="facebook"><a href="#">facebook </a></li>
						<li class="linkedin"><a href="#">linkedin </a></li>
						<li class="twitter"><a href="#">twitter</a></li>
						<li class="googleplus"><a href="#">googleplus</a></li>
						</ul>
						<div class="phone-info"><i class="fa-icon-phone-sign"></i> + 4 (123) 456-7890</div>							
						</p>
					  </div>
				  </div> 
				  <!--END CAPTION -->
			</div>
			<!-- END: THUMBNAIL -->
          </div> 
		  </div>
<!-- END: team  item-->
		
<!-- team  item -->
          <div class="span3  project-item box">
		  <div class="thumbnail">
            
				<!-- IMAGE CONTAINER-->
            <div class="sample project-item-image-container">
				<img src="images/team1.jpg" alt="iPhonegraphy" /> 
			 </div> 
			 <!--END IMAGE CONTAINER-->
			 
			 <!-- CAPTION -->
			
			 <div class="caption">
					  <div class="transit-to-top">
						  <h3 class="p-title standart-h3title">Vic Howie <small>bowtie-wearer</small></h3>
						  <p class="caption-descr">
						  <div class="widget_nav_menu"> 
				<ul class="socialIcons">
						<li class="facebook"><a href="#">facebook </a></li>
						<li class="linkedin"><a href="#">linkedin </a></li>
						<li class="twitter"><a href="#">twitter</a></li>
						<li class="googleplus"><a href="#">googleplus</a></li>
						</ul>
						<div class="phone-info"><i class="fa-icon-phone-sign"></i> + 4 (123) 456-7890</div>							
						</p>
					  </div>
				  </div> 
				  <!--END CAPTION -->
			</div>
			<!-- END: THUMBNAIL -->
          </div> 
		  </div>
<!-- END: team  item-->
	
</div>
<!-- /ABOUT and TEAM-->

<div class="color-bottom-line row">
	<div class="span12">
		<h3 class="line center standart-h2title">
			<span class="large-text main-color">OUR SPONSORS</span>
		</h3>
	</div>		
</div>
  <!--- CLIENTS ROTATOR ## -->
	<div class="row-fluid">
		<!-- FEATURE ITEM-->
		<div class="span4"> 
			<h3 class="features-title"><span class="firstword">Technocom</span></h3>
      <p class="features">
      TechnoCom is our breakfast and coffee sponsor, so we love them.  And we love this <a href="http://www.technocomusa.com/letter-to-competitors">Letter to their Competitors</a>, as well.  You got it!
      </p>
		</div>
		<!-- END FEATURE ITEM-->	
		<!-- FEATURE ITEM-->
		<div class="span4"> 
      <h3 class="features-title"><span class="firstword">Packard Place</span></h3>
      <p class="features">
In addition to hosting TechBreakfast and IDEA Pitch, Packard Place is the premier meeting space for Charlotte entrepreneurs.  <a href="http://packardplace.us2.list-manage.com/subscribe?u=a01f28c7e74c2b69b07d8c857&amp;id=eb856f7bc9">Subscribe to their newsletter</a>.
      </p>
		</div>
    <!-- FEATURE ITEM-->
		<!-- FEATURE ITEM-->
		<div class="span4"> 
      <h3 class="features-title"><span class="firstword">MailVu</span></h3>
      <p class="features">
      MailVU hosts our submissions for IDEA Pitch, and provided A/V help for this <a href="http://mailvu.com/msg/m0be5d02928a34b2294208f3393b01fa4">Brad Feld interview</a>.
      </p>
		</div>
		<!-- FEATURE ITEM-->

    </div>
<!---END: CLIENTS ROTATOR ## -->
 
<!--/ ABOUT SECTION-->
</section>
