<!-- ABOUT SECTION-->
<section id="about-section">
  <!-- ABOUT and TEAM-->
  <div class="color-bottom-line row">
    <div class="span12">
      <h3 class="line center standart-h2title">
        <span class="large-text main-color">Apply Today</span>
      </h3>
    </div>		
  </div>
  <div class="row">

    <div class="span6 textleft">
      <%= partial "next_tb_event" %>
      <!-- TITLE -->
      <h2 class="folio-title">Pitch to <span class="main-color">TechBreakfast CLT</span></h2>

      <h4>For everybody</h4>
      <p>
        We think everybody can benefit from applying to pitch at TechBreakfast CLT.  The point
        is to support each other, ask good questions, supply good feedback, and get the buzz going
        on Wednesday mornings.
      </p>
      <p>You can pitch anything at a TechBreakfast, from an investor pitch for something that you haven't even prototyped,
      to a sales pitch for a company that you're taking to market.  Anything that fits our basic structure of you standing up
      for a few minutes in front of our crowd and trying to get your message across.</p>
      <script type="text/javascript" src="http://www.formstack.com/forms/js.php?nojquery=1&form=1561821&viewkey=6HsEspBXJx&style_version=v3"></script><noscript><a href="http://www.formstack.com/forms/itsbspoke-pitchtechbreakfastclt" title="Online Form">Online Form - TechBreakfast CLT Pitch Application</a></noscript><div style="text-align:right; font-size:x-small;"><a href="http://www.formstack.com?utm_source=h&utm_medium=jsembed&utm_campaign=fa&fa=h,1561821" title="Online Form Maker">Online Form Maker</a></div><script type='text/javascript'>if (typeof $ == 'undefined' && jQuery){ $ = jQuery}</script>
    </div>
    <div class="span6 textleft">
      <%= partial "next_ifp_event" %>

      <!-- TITLE -->
      <h2 class="folio-title">Pitch at <span class="main-color">IDEA Pitch</span></h2>

      <h4>For the best</h4>
      <p>
        <a href="/idea-pitch.html">IDEA Pitch</a> is for more experienced pitchsters.  The format is more demanding,
        and the panelists are more serious.  While TechBreakfast pitches are assigned based on who comes to us first,
        we screen IDEA Pitch submissions, courtesy of our sponsor <a href="http://www.mailvu.com/">MailVu</a>.
        </p>

        <p>To apply for IDEA Pitch, provide a sample two minute elevator pitch for your idea.  It's OK for the 
        pitch to be different and better for the main event, but you need to convince us that you're ready.
        It'll be a lot easier pitching to that camera than an investor panel.</p>


        <center>
          <h5>For webcams</h5>
          <iframe src="http://mailvu.com/hwidget/techbreakfast" height="236" width="464" frameborder="no" > </iframe>
          <h5>For mobile phones</h5>
          <iframe src="https://s3.amazonaws.com/mailvu-static/alan/techbreakfast_upload.html" width="298" height="218" frameborder="0" scrolling="auto" name="techbreakfast"></iframe>
        </center>
    </div>
  </div>
  <!-- /ABOUT and TEAM-->


  <!--/ ABOUT SECTION-->
</section>
