<!-- CONTACT SECTION -->
<section id="contact-section">
  <footer class="footer">
    <div class="container">
      <div class="row-fluid">
            <div class="span1">
              <span class="twitter-sign"> <i class="fa-icon-twitter fa-icon-large main-color"></i></span>
            </div>
            <div class="span5">
             <a class="twitter-timeline" href="https://twitter.com/PitchBreakfast" data-widget-id="371367231814250496">Tweets by @PitchBreakfast</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


            </div>
        <div class="span6">
          <h4 class="line3 center standart-h4title"><span>Navigation</span></h4>
          <ul class="footer-links">
            <li><a href="#">Home</a></li>
            <li><a href="/rsvp.html">RSVP</a></li>
            <li><a href="/apply.html">Apply</a></li>
            <li><a href="/panelists.html">Panelists</a></li>
            <li><a href="/idea-pitch.html">IDEA Pitch</a></li>
            <li><a href="http://mailvu.com/msg/m0be5d02928a34b2294208f3393b01fa4">Brad Feld interview</a></li>
          </ul>
          <h4 class="line3 center standart-h4title"><span>Useful Links</span></h4>
          <ul class="footer-links">
            <li><a href="http://www.itsbspoke.com">It's Bspoke</a></li>
            <li><a href="http://bitly.com/bigfleet-newsletter">StartCLT Newsletter</a></li>
          </ul>
          <h4 class="line3 center standart-h4title"><span>Our office</span></h4>
          <address>
            <strong>PitchBreakfast</strong><br>
            <i class="fa-icon-map-marker"></i> 811 E 15th St.<br>
            Charlotte, NC 28205<br>
            <i class="fa-icon-phone-sign"></i> + 1 (704) 951-7829
            <div class="foot-line"></div>

          </address>
          <h4 class="line3 center standart-h4title"><span>Stay in touch</span></h4>

          <div class="widget_nav_menu"> 
            <ul class="socialIcons">
              <!-- <li class="vimeo"><a href="#">vimeo </a></li>-->
              <li class="facebook"><a href="http://www.facebook.com/PitchBreakfastclt">facebook</a></li>
              <li class="linkedin"><a href="http://www.linkedin.com/in/PitchBreakfastclt">linkedin</a></li>
              <li class="twitter"><a href="http://www.twitter.com/pitchbreakfast">twitter</a></li>
              <li class="youtube"><a href="https://www.youtube.com/channel/UChNT9rQcR08L7WM0yGx-NaA">youtube</a></li>
              <!-- <li class="twitter2"><a href="#">twitter2</a></li>
              <li class="pinterest"><a href="#">pinterest</a></li>
              <li class="flickr"><a href="#">flickr </a></li>
              <li class="digg"><a href="#">digg</a></li>
              <li class="yahoo1"><a href="#">yahoo1</a></li>
              <li class="yahoo2"><a href="#">yahoo2</a></li>
              <li class="reddit"><a href="#">reddit</a></li>
              <li class="googleplus"><a href="#">googleplus</a></li>
              <li class="stumbleupon"><a href="#">stumbleupon</a></li>
              <li class="skype"><a href="#">skype</a></li>
              <li class="deviantart"><a href="#">deviantart</a></li>
              <li class="delicious"><a href="#">delicious </a></li>
              <li class="tumblr"><a href="#">tumblr </a></li>
              <li class="lastfm"><a href="#">lastfm </a></li>
              <li class="youtube"><a href="#">youtube</a></li>
              <li class="friendfeed"><a href="#">friendfeed </a></li>
              <li class="myspace"><a href="#">myspace </a></li>
              <li class="rss"><a href="#">rss </a></li>
              <li class="badoo"><a href="#">badoo </a></li>
              <li class="dribble"><a href="#">dribble </a></li>
              <li class="blogger"><a href="#">blogger </a></li>
              <li class="homeicon"><a href="#">homeicon</a></li>
              <li class="phone"><a href="#">phone </a></li>
              <li class="email"><a href="#">email </a></li>
              <li class="picassa"><a href="#">picassa </a></li>
              <li class="livejournal"><a href="#">livejournal </a></li>
              <li class="bebo"><a href="#">bebo </a></li>
              <li class="technorati"><a href="#">technorati </a></li>
              <li class="newsvine"><a href="#">newsvine</a></li>
              <li class="wordpress"><a href="#">wordpress </a></li>
              <li class="yelp"><a href="#">yelp </a></li> -->
            </ul>
          </div>
        </div>
      </div>
      <hr class="half1 copyhr">
      <div class="row-fluid copyright">
        <div class="span12 center">This design is GPL'ed.  Get it on <a href="http://www.github.com/itsbspoke/PitchBreakfast">GitHub</a>.</div>
      </div>
    </div>
  </footer>
  <!-- END FOOTER -->
</section>
<!-- CONTACT SECTION -->

