    <!-- SLIDER START-->
    <div class="banner-rotator">
      <div id="da-slider" class="da-slider">
        <div class="da-slide">
          <h2>CHARLOTTE ENTREPRENEURS</h2>
          <p>Your best opportunities can come when you least expect it. Will you be ready? </p>
          <span class="da-link">
            <a href="apply.html" class="">
              <span class="main-link"><i class="fa-icon-tablet"></i> Apply to pitch.</span> 
              <span class="arrow"> &rarr;</span>
            </a>
          </span>
        </div>
        <div class="da-slide">
          <h2>CHARLOTTE STARTUPS</h2>
          <p>TechBreakfast CLT is about providing Charlotte startups a chance to practice their most crucial pitch in a challenging but supportive environment.</p>
          <span class="da-link">
            <a href="rsvp.html" class="">
              <span class="main-link">RSVP to watch</span> 
              <span class="arrow"> <i class="fa-icon-eye-open"></i></span>
            </a>
          </span>
        </div>

        <nav class="da-arrows">
          <span class="da-arrows-prev"></span>
          <span class="da-arrows-next"></span>
        </nav>
      </div>
    </div>
    <!-- SLIDER [END]-->
