<!-- SERVICE SECTION-->
<section id="service-section">
    <div class="color-bottom-line row">
    <div class="span12">
      <h3 class="line center standart-h2title">
        <span class="large-text main-color">ABOUT IDEA Pitch</span>
      </h3>
    </div>		
  </div>
  <div class="row-fluid">
		<!-- FEATURE ITEM-->
		<div class="span4"> 
			<i class="fa-icon-time fa-icon-xxlarge main-color"></i>
      <h3 class="features-title"> For <span class="firstword">two minutes</span></h3>
      <p class="features">
        Two minutes, sounds easy, right?  Who can't talk for two minutes? <br/>
        It'll be the hardest two minutes of your month.  To summarize your company's value proposition in an interesting way
        is a challenge for many seasoned entrepreneurs.  But that's what IDEA Pitch asks you to do.  You won't regret having
        a quality elevator pitch, so why not commit to perfecting one?
      </p>
		</div>
    <!-- FEATURE ITEM-->
		<!-- FEATURE ITEM-->
		<div class="span4"> 
			<i class="fa-icon-dashboard fa-icon-xxlarge main-color"></i>
			<h3 class="features-title"> For <span class="firstword">assessment</span></h3>
      <p class="features">
        We're very proud of the panelists that we have to offer, as they represent some of the best mentors available in Charlotte.
        If you really want your idea assessed, though, the IDEA Fund Partners do this professionally.  Their companies have had
        combined exits of over $1 billion dollars, so you know they are not going to make things easy on you.
			</p>
		</div>
		<!-- END FEATURE ITEM-->	
		<!-- FEATURE ITEM-->
		<div class="span4"> 
			<i class="fa-icon-signal fa-icon-xxlarge main-color"></i>
      <h3 class="features-title"> For <span class="firstword">growth</span></h3>
      <p class="features">
      The experience of pitching at TechBreakfast CLT is focused on getting practice in front of our positive, supportive community.
      Our best pitchsters, however, will have bigger opportunities than making friends while drinking free juice.  Unlike TechBreakfast, 
      if a presenter nails their pitch and the Q+A session to follow, the IDEA Fund Partners may bring you to Durham 
      to do your pitch for the assembled investment team.
      </p>
		</div>
		<!-- FEATURE ITEM-->

    </div>

    <!-- SERVICE SECTION-->
    <%= partial "next_ifp_event" %>
</section>


<!-- ABOUT SECTION-->
<section id="about-section">
  <!-- ABOUT and TEAM-->
  	<div class="row-fluid">
		<hr class="half">
			<h2 class="center standart-h2title "> <span class="large-text">Brought to you by <span class="main-color">IDEA Fund Partners</span></span>
			</h2>
		<hr class="half">
	</div>
  <div class="row">
    <div class="span6 textleft">
      <!-- PARAGRAPH -->
      <h4>Lister Delgado</h4>
      <p class="">
      Mr. Lister Delgado is a Founding General Partner and Managing Partner at IDEA Fund Partners. Mr. Delgado is
      responsible for all aspects of the venture process, from deal sourcing and negotiation to management of 
      portfolio investments at the firm. Mr. Delgado is a Venture Advisor at NC IDEA. Since 2006, concurrent with 
      his investment responsibilities, he has led the design and implementation of the NC IDEA grants program. 
      Under his leadership, NC IDEA has awarded over $2.1 million to 57 companies. Mr. Delgado has been involved 
      in implementing the FL IDEA grants program. He has been an early stage investor and advisor to entrepreneurs
      since 2001 and is passionate about entrepreneurship and company formation. In a career as an investor spanning 
      more than ten years, he has led the evaluation of over 1,000 companies and has been a close advisor to more 
      than 50 startups.
      </p>
      <div class="no-color-line-no-border3"></div>
      <hr class="half2">
    </div>
    <!-- team  item -->
    <div class="span3 offset1 project-itembox">
      <div class="thumbnail">

        <!-- IMAGE CONTAINER-->
        <div class="sample project-item-image-container">
          <img src="images/lister-headshot.jpg" alt="Lister Delgado headshot" /> 
        </div> 
        <!--END IMAGE CONTAINER-->

        <!-- CAPTION -->

        <div class="caption">
          <div class="transit-to-top">
            <h3 class="p-title standart-h3title">Lister Delgado</h3>
            <p class="caption-descr">
            <div class="widget_nav_menu"> 
              <ul class="socialIcons">
                <li class="linkedin"><a href="http://www.linkedin.com/pub/lister-delgado/0/371/467">linkedin </a></li>
                <li class="twitter"><a href="http://www.twitter.com/listerdelgado">twitter</a></li>
              </ul>
              </p>
            </div>
          </div> 
          <!--END CAPTION -->
        </div>
        <!-- END: THUMBNAIL -->
      </div> 
    </div>
    <!-- END: team  item-->
  </div>
  <div class="row">
    <div class="span6 textleft">

      <h4>Chris Halligan</h4>
      <p>
      Chris Halligan is an experienced, successful technology executive and entrepreneur.</p>

      <p>Upon graduation from the University of Arizona in Tucson in 1989, he started his career with more than 10 years at Dell Computer Corporation in Austin, Texas and Tokyo, Japan.  During Mr. Halligan&#x27;s time at Dell, he was the company&#x27;s Salesman of the Year in 1991 and then held several sales and marketing management positions, culminating in responsibility for over $2B per year in commercial revenues conducted over the Internet in 1999.</p>

      <p>Following Dell, Mr. Halligan ran North America for webMethods during a period highlighted by explosive revenue growth and the firm&#x27;s IPO - one of the most successful in software history.  He then became part owner of Mascot Books, a leader in the self publishing space for children&#x27;s authors and co-founded Kieden, a software startup which was purchased by salesforce.com in 2006.</p>

      <p>Next, Mr. Halligan became Chief Executive Officer for PokerTek (nasdaq: ptek), a Matthews, NC based gaming company and the world leader in automated poker technology.  During his tenure, PokerTek grew from $4M to $13M in annual revenues, while reducing company operating expenses by more than 10%.</p>

      <p>His next startup, OtherScreen, can <a href="http://skookum.com/blog/sdw-tech-talks-startup-failure-with-otherscreen-ceo-chris-halligan/">teach you something about failure</a>.</p>

      <p>He is now Operating Partner at IDEA Fund.  He is married to Sarah and has three cool kids who attend Providence Day School in Charlotte.</p>
      <div class="no-color-line-no-border3"></div>
      <hr class="half2">
    </div>
    <div class="span3 offset1 project-itembox">
      <div class="thumbnail">

        <!-- IMAGE CONTAINER-->
        <div class="sample project-item-image-container">
          <img src="images/chris-headshot.jpg" alt="Chris Halligan headshot" /> 
        </div> 
        <!--END IMAGE CONTAINER-->

        <!-- CAPTION -->

        <div class="caption">
          <div class="transit-to-top">
            <h3 class="p-title standart-h3title">Chris Halligan</h3>
            <p class="caption-descr">
            <div class="widget_nav_menu"> 
              <ul class="socialIcons">
                <li class="linkedin"><a href="http://www.linkedin.com/pub/chris-halligan/2/432/17">linkedin </a></li>
                <li class="twitter"><a href="http://www.twitter.com/chrishalligan">twitter</a></li>
              </ul>
              </p>
            </div>
          </div> 
          <!--END CAPTION -->
        </div>
        <!-- END: THUMBNAIL -->
      </div> 
    </div>
  </div>
  <div class="row">
    <div class="span6 textleft">

      <h4>Dave Rizzo</h4>
      <p>
      Mr. David P. Rizzo, Dave, is the Managing Partner and Venture Partner at IDEA Fund Partners. He is the President and Chief Executive Officer at NC IDEA. Mr. Rizzo joined MCNC in June 2002 and became the President and Chief Executive Officer. At the firm, he created a new corporate strategy to stimulate economic development throughout North Carolina. As part of this strategy, he formed and led three MCNC companies created to better assist the transition of North Carolina's economy from basic manufacturing to a research-based, advanced manufacturing economy. Mr. Rizzo strategically realigned the company into three separate organizations to better focus its resources – including the creation and leadership of MCNC Ventures. He also led the company through a restructuring that resulted in the spin-off of MCNC Research & Development Institute (now NC IDEA). Prior to joining MCNC, Mr. Rizzo was the Chairman and Chief Executive Officer at Osprey Systems, which he founded in Charlotte in 1992 and sold in 2002.
      </p>
      <div class="no-color-line-no-border3"></div>
      <hr class="half2">
    </div>
    <div class="span3 offset1 project-itembox">
      <div class="thumbnail">

        <!-- IMAGE CONTAINER-->
        <div class="sample project-item-image-container">
          <img src="images/dave-headshot.jpg" alt="Dave Rizzo headshot" /> 
        </div> 
        <!--END IMAGE CONTAINER-->

        <!-- CAPTION -->

        <div class="caption">
          <div class="transit-to-top">
            <h3 class="p-title standart-h3title">Dave Rizzo</h3>
            <p class="caption-descr">
            <div class="widget_nav_menu"> 
              <ul class="socialIcons">
                <li class="linkedin"><a href="http://www.linkedin.com/in/daverizzo">linkedin </a></li>
                <li class="twitter"><a href="http://www.twitter.com/rizncidea">twitter</a></li>
              </ul>
              </p>
            </div>
          </div> 
          <!--END CAPTION -->
        </div>
        <!-- END: THUMBNAIL -->
      </div> 
    </div>

  </div>


</div>

</section>
