	<div class="row-fluid">
		<div class="span12">
			<div class="well">
				<p class="land left large-text">
        <span class="main-color">Next event:</span>
        <%= next_tb_event_date.strftime("%b %d, %Y") %>
        8-9:30AM in the Garage at Packard Place.</span></p>
    <p>Pitchsters: <span class="firstword">To Be Announced</span></p>
    <p>Panelists: <span class="firstword">Igor J</span>, <span class="firstword">Manoj,</span> and <span class="firstword">Daniel Friel</span></p>

      <p><a href="/rsvp.html">RSVP</a> or <a href="/apply.html">Apply for the next event</a> today!</p>

            </div>
		</div>
	</div>

