	<div class="row-fluid">
		<div class="span12">
			<div class="well">
				<p class="land left large-text">
        <span class="main-color">Next event:</span>
        <%= next_ifp_event_date.strftime("%b %d, %Y") %>
        8-9:30AM in the Garage at Packard Place.</span>
      </p>
    

      <p>Pitchsters: <a href="http://www.cloudgenera.com">CloudGenera</a>, <a href="http://www.canopyfa.com">Canopy Financial</a>, <a href="http://trumor.com">Trumor</a>, and <a href="ttp://www.wemsici.com/">WEMS</a></p>
   
      <p>Panelists: Dave Rizzo and Chris Halligan</p>

      <p> <a href="/rsvp.html">RSVP</a> or <a href="/apply.html">Apply</a> today for your next opportunity!</p>
			
			</div>
		</div>
	</div>

h