<!-- TOP SECTION-->
<section id="top-section">
  <!-- START HEADER headertop -->
  <div class="headertop">

    <!-- PIXEL BG DOTTS UNDER BLURED BACKGROUND-->
    <div class="action-banner-bg-top"></div>
    <!-- END PIXEL BG DOTTS UNDER BLURED BACKGROUND-->

    <%= partial "back_to_main" %>

  </div><!-- END HEADER headertop -->
</section>
<!--/ TOP SECTION-->

