<!-- PROJECTS SECTION-->
<section id="project-section">
<!-- START PORTFOLIO -->
	<div class="color-bottom-line row">
		<div class="span12">
					<h3 class="line center standart-h2title">
						<span class="large-text main-color">PITCH PRACTICE!</span>
					</h3>
		</div>		
	</div>
	<!-- FEATURED ITEM -->
<div class="row">

	<!-- SLIDER SIDE -->
		<div class="span7">
			<div class="section-2 group">
				<ul id="images" class="rs-slider">
				    <li class="group">
				        <a href="#">
				            <img src="images/crowd.jpg" alt="" />
				        </a>
				        <div class="rs-caption rs-bottom">
				            <h3>Mingling</h3>
                    <p>World-class mentors will not bite you at TechBreakfast</p>
				        </div>
				    </li>
				    <li class="group">
				        <a href="#" class="slide-parent">
				            <img src="images/tapsbook.jpg" alt=""/>
				        </a>
				        <div class="rs-caption rs-top-right">
				            <p>Sherwood Yao pitches Tapsbook.</p>
				        </div>
				    </li>
				    <li class="group">
				        <img src="images/skoolaide.jpg" alt=""/>
				        <div class="rs-caption rs-bottom-right">
                  <p>Reg Gabriel pitches Skoolaide</p>
				        </div>
				    </li>
				</ul>
            </div> <!-- /.section-2 -->
							
		</div>
	<!-- END: SLIDER SIDE -->
	<!-- PORTFOLIO ASIDE -->
			<div class="span5 textleft">
					<!-- TITLE -->
			<h2 class="folio-title"><span class="main-color">ABOUT OUR EVENT</span></h2>
					 
      <!-- PARAGRAPH -->
          <p class="lead">Every month, on the second Wednesday of the month, 2-3 companies will present to our audience and our panelists.
          And everybody gets free breakfast and coffee, courtesy of our sponsors.</p>
           <p>
           In our standard TechBreakfast event, 2 or 3 companies will have an opportunity to practice their pitch in front our audience.
           Pitching companies will have a 7-8 minute presentation, coordinating with us on their A/V and pitchdeck needs. That's followed by 7-8 minutes of feedback from our panelists (who represent the finest mentors Charlotte has to offer) and the audience.
					</p>
					<!-- END PARAGRAPH -->
					<!-- DEVIDER LINE -->
					<div class="no-color-line-no-border3"></div>
					<hr class="half2">
					<!-- ACTION BUTTON -->
          <a class="btn btn-info btn-large btn-block btn-info" href="/rsvp.html" title="">RSVP today &rarr;</a>
					<div class="no-color-line-no-border3"></div>
          <hr class="half2">
          <h2 class="folio-title"><span class="main-color">ABOUT IDEA Pitch</span></h2>
          <p>
          Our IDEA Pitch format stars panelists from <a href="http://ideafundpartners.com/">IDEA Fund Partners</a>, the most active seed stage investor
          in the southeast.  We use almost the same recipe as our usual event, but instead of the full presentation, our panelists want to see a 2
          minute elevator pitch.  As <strong>Lister Delgado</strong> says, if you can't get my attention in two minutes, you'll never do your full
          presentation!  We're very proud to have this event in the Charlotte area.
					</p>

					<a class="btn btn-info btn-large btn-block btn-info" href="/idea-pitch.html" title="">Learn More about IDEA Pitch &rarr;</a>

					<!-- END ACTION BUTTON -->
			</div>
			<!-- PORTFOLIO ASIDE -->
			
</div>

<!--- CLIENTS ROTATOR ## -->
  <div class="row-fluid">
  <!--****************-->
	<!-- CLIENTS ROTATOR -->
	<!--****************-->
	<div class="span12 pitchsters_rotator_widget_wrap">
		<div class="color-bottom-line flex-controls-cl">
			<h3 class="line center standart-h2title">
			<span class="large-text main-color">Our pitchsters</span></h3>
		</div>
		
    <ul class="slides">
      <li class="slide">
        <a href="http://www.tapsbook.com">Tapsbook</a>
			</li>
      <li class="slide">
        <a href="http://www.skoolaide.com.com">SKoolAide</a>
			</li>
      <li class="slide">
        <a href="http://www.mindsmesh.com">MindsMesh</a>
			</li>
      <li class="slide">
        <a href="http://www.requestzsystems.com">Requestz Systems</a>
			</li>
			<li class="slide">
        <a href="http://www.womadz.com">Womadz</a>
			</li>
      <li class="slide">
        <a href="https://thetorch.com/">TheTorch</a>
			</li>
			<li class="slide">
        <a href="http://www.launchpadcodeacademy.com/">Launchpad Code Academy</a>
      </li>
			<li class="slide">
        <a href="http://www.ecampusventures.com/">eCampus</a>
        </li>
			<li class="slide">
        <a href="http://www.rewardsummit.com/">Reward Summit</a>
        </li>
			<li class="slide">
        <a href="http://www.shopwithtopanga.com/topanga/home">eWallet Essentials</a>
        </li>
			<li class="slide">
        <a href="http://www.worksnaps.com">Worksnaps</a>
        </li>
			<li class="slide">
        <a href="http://www.podanize.com">Podanize</a>
      </li>
	</ul>
			
	</div>
	<!--****************-->
	<!-- END CLIENTS ROTATOR -->
	<!--****************-->

  </div>
<!---END: CLIENTS ROTATOR ## -->

<!-- / PROJECTS SECTION-->
</section>
