<!-- ABOUT SECTION-->
<section id="about-section">
  <!-- ABOUT and TEAM-->
  <div class="color-bottom-line row">
    <div class="span12">
      <h3 class="line center standart-h2title">
        <span class="large-text main-color">RSVP Today</span>
      </h3>
    </div>		
  </div>
  <div class="row">

    <div class="span6 textleft">
      <!-- TITLE -->
      <h2 class="folio-title">Please <span class="main-color">SIGN UP</span></h2>

      <h4>Share, too!</h4>
      <p>
        Please let us know that you're coming so that we can have breakfast waiting for you.  Also, feel free to share any of our pages with your social networks!
      </p>
<script type="text/javascript" src="http://www.formstack.com/forms/js.php?nojquery=1&form=1540638&viewkey=fF2xIws2gy&style_version=v3"></script><noscript><a href="http://www.formstack.com/forms/itsbspoke-techbreakfastclt" title="Online Form">Online Form - TechBreakfast CLT</a></noscript><div style="text-align:right; font-size:x-small;"><a href="http://www.formstack.com?utm_source=h&utm_medium=jsembed&utm_campaign=fa&fa=h,1540638" title="Web Form Creator">Web Form Creator</a></div><script type='text/javascript'>if (typeof $ == 'undefined' && jQuery){ $ = jQuery}</script>
    </div>
    <div class="span6">
          <%= partial "next_event" %>
      <h4>Map to Packard Place:</h4>
      <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=222+South+Church+Street,+Charlotte,+NC&amp;aq=0&amp;oq=222+S&amp;sll=35.203153,-80.839829&amp;sspn=1.273603,1.234589&amp;ie=UTF8&amp;hq=&amp;hnear=222+S+Church+St,+Charlotte,+Mecklenburg,+North+Carolina+28202&amp;t=m&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=222+South+Church+Street,+Charlotte,+NC&amp;aq=0&amp;oq=222+S&amp;sll=35.203153,-80.839829&amp;sspn=1.273603,1.234589&amp;ie=UTF8&amp;hq=&amp;hnear=222+S+Church+St,+Charlotte,+Mecklenburg,+North+Carolina+28202&amp;t=m&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
    </div>
  </div>
  <!-- /ABOUT and TEAM-->

  <div class="color-bottom-line row">
    <div class="span12">
      <h3 class="line center standart-h2title">
        <span class="large-text main-color">OUR SPONSORS</span>
      </h3>
    </div>		
  </div>
  <!--- CLIENTS ROTATOR ## -->
  <div class="row-fluid">
    <!-- FEATURE ITEM-->
    <div class="span4"> 
      <img src="/images/technocom-logo.jpg" width="163"/>
      <h3 class="features-title"><a href="http://www.technocomusa.com/"><span class="firstword">Technocom</span></a></h3>
      <p class="features">
      TechnoCom is our breakfast and coffee sponsor, so we love them.  And we love this <a href="http://www.technocomusa.com/letter-to-competitors">Letter to their Competitors</a>, as well.  You got it!
      </p>
    </div>
    <!-- END FEATURE ITEM-->	
    <!-- FEATURE ITEM-->
    <div class="span4"> 
      <img src="/images/packard-logo.png" />
      <h3 class="features-title"><a href="http://www.packardplace.us/"><span class="firstword">Packard Place</span></a></h3>
      <p class="features">
      In addition to hosting TechBreakfast and IDEA Pitch, Packard Place is the premier meeting space for Charlotte entrepreneurs.  <a href="http://packardplace.us2.list-manage.com/subscribe?u=a01f28c7e74c2b69b07d8c857&amp;id=eb856f7bc9">Subscribe to their newsletter</a>.
      </p>
    </div>
    <!-- FEATURE ITEM-->
    <!-- FEATURE ITEM-->
    <div class="span4"> 
      <img src="/images/mailvu-logo.gif" />
      <h3 class="features-title"><a href="http://www.mailvu.com"><span class="firstword">MailVu</span></a></h3>
      <p class="features">
      MailVU hosts our submissions for IDEA Pitch, and provided A/V help for this <a href="http://mailvu.com/msg/m0be5d02928a34b2294208f3393b01fa4">Brad Feld interview</a>.
      </p>
    </div>
    <!-- FEATURE ITEM-->

  </div>
  <!---END: CLIENTS ROTATOR ## -->

  <!--/ ABOUT SECTION-->
</section>
