<!-- SERVICE SECTION-->
<section id="service-section">
  	<div class="row-fluid">
		<hr class="half">
			<h2 class="center standart-h2title "> <span class="large-text"><span class="main-color">VERSO</span> provides modern features</span>
			</h2>
		<hr class="half">
	</div>
	<div class="row-fluid">
		<!-- FEATURE ITEM-->
		<div class="span3">
			<i class="fa-icon-fullscreen fa-icon-xxlarge main-color"></i>
			<h3 class="features-title"> <span class="firstword">Responsive</span> Layout</h3>
			<p class="features"> We combine creative forces with systematic activists. All ideas require implementation and our multi-disciplined netproject fosters a wide array of abilities that empower visionaries and entrepreneurs to lead meaningful brands.</p>
		</div>
		<!-- END FEATURE ITEM-->
		
		<!-- FEATURE ITEM-->
		<div class="span3">
			<i class="fa-icon-tint fa-icon-xxlarge main-color"></i>
			<h3 class="features-title"> <span class="firstword">Designer  </span>Friendly</h3>
			<p class="features"> We combine creative forces with systematic activists. All ideas require implementation and our multi-disciplined netproject fosters a wide array of abilities that empower visionaries and entrepreneurs to lead meaningful brands.</p>
		</div>
		<!-- END FEATURE ITEM-->		
		<!-- FEATURE ITEM-->
		<div class="span3"> 
			<i class="fa-icon-thumbs-up fa-icon-xxlarge main-color"></i>
			<h3 class="features-title"> <span class="firstword">Built With</span> Bootstrap 2</h3>
			<p class="features"> Inspired Thinking. Ask smarter questions, push for innovative solutions and believe in the power of creativity. Be consistently open and honest. Be true to ourselves and our values. Find, stimulate and maintain the best minds.</p>
		</div>
		<!-- END FEATURE ITEM-->	
		<!-- FEATURE ITEM-->
		<div class="span3"> 
			<i class="fa-icon-spinner fa-icon-spin fa-icon-xxlarge main-color"></i>
			<h3 class="features-title"> <span class="firstword">Modern</span> features</h3>
			<p class="features"> Inspired Thinking. Ask smarter questions, push for innovative solutions and believe in the power of creativity. Be consistently open and honest. Be true to ourselves and our values. Find, stimulate and maintain the best minds.</p>
		</div>
		<!-- FEATURE ITEM-->
    </div>
	<!-- SLOGAN-->
    <hr class="half"> 
	<div class="row-fluid">
		<div class="span12">
			<div class="well">
				<p class="land left large-text">
				<span class="main-color">VERSO OnePager</span> - business template with clear design &amp; modern scrolling effect 
				</p>
			
			</div>
		</div>
	</div>
	<!--/ SLOGAN-->

<!-- SERVICE SECTION-->
</section>
