	<!-- SLOGAN-->
    <hr class="half"> 
    <%= partial "next_event" %>
	<!--/ SLOGAN-->

<!-- SERVICE SECTION-->
<section id="service-section">
  	<div class="row-fluid">
		<hr class="half">
			<h2 class="center standart-h2title "> <span class="large-text"><span class="main-color">TechBreakfast CLT</span> is...</span>
			</h2>
		<hr class="half">
	</div>
	<div class="row-fluid">
		<!-- FEATURE ITEM-->
		<div class="span4"> 
			<i class="fa-icon-thumbs-up fa-icon-xxlarge main-color"></i>
			<h3 class="features-title"> For <span class="firstword">community</span></h3>
      <p class="features">
      We're big believers in Brad Feld's philosophy that events that engage the entire entrepreneurial stack are important.
      So we created one!  From the entrepreneurs that take the stage, to the distinguished investors and entrepreneurs that
      sit on our panels, to the community that makes up our audience, we create a great atmosphere where you can get connected
      without fear. <br/>
      The event is <strong>free</strong>, we just ask for your email address to keep you up to date with future Charlotte startup news, including what TechBreakfast
        is up to.  We're just one event in the greater Charlotte community, and we want our attendees to get the most out of it that they can.
			</p>
		</div>
		<!-- END FEATURE ITEM-->	
		<!-- FEATURE ITEM-->
		<div class="span4"> 
			<i class="fa-icon-heart fa-icon-xxlarge main-color"></i>
      <h3 class="features-title"> For <span class="firstword">founders</span></h3>
      <p class="features">
        Charlotte startups need to pitch for lots of reasons: sales, investment, competitions, and much more.  It's a crucial part of 
        creating a great business.  We're happy to make the great event we've developed open to the community to practice your pitches
        in a supportive but challenging environment that can provide feedback that helps improve your concept.
      </p>
		</div>
    <!-- FEATURE ITEM-->
		<!-- FEATURE ITEM-->
		<div class="span4"> 
			<i class="fa-icon-plane fa-icon-xxlarge main-color"></i>
      <h3 class="features-title"> For <span class="firstword">Charlotte</span></h3>
      <p class="features">
        We've been fortunate enough to have some great opportunities to serve the Charlotte community.  When SEVC was here,
        we were able to get <a href="http://mailvu.com/msg/m0be5d02928a34b2294208f3393b01fa4">Brad Feld himself to speak to our group</a>.
        When the IDEA Fund Partners wanted to bring their IDEA Pitch concept to Charlotte, we were able to help.
        And we're excited to say that we're working on a project to take our show on the road to represent Charlotte throughout the Carolinas.  
        Stay tuned for more!
      </p>
		</div>
		<!-- FEATURE ITEM-->

    </div>

<!-- SERVICE SECTION-->
</section>
