<!--***********STYLE SWITCHER ****************-->
	<div id="style-switcher" style="right: 0px;">
            <h2>Color Switcher Options<a href="#"><i class="fa-icon-cogs main-color"></i> Colors</a></h2>
            <div>
                <h3>Default Colors (includes Menu Hover)</h3>
                <ul class="colors" id="color1">
                    
                    <li><a href="#" class="red" title="Red"></a></li>
                    <li><a href="#" class="orange" title="Orange"></a></li>
					<li><a href="#" class="helio" title="Helio purple"></a></li>
					<li><a href="#" class="saffron" title="Saffron"></a></li>
					<li><a href="#" class="warhols_green" title="Warhol's green"></a></li>
					<li><a href="#" class="purple" title="Purple"></a></li>
					<li><a href="#" class="citynight" title="Citynight"></a></li>
     
                </ul>
                <!--Menu Color -->
               

            </div>

            <div id="reset"><a href="#" class="btn btn-info">Reset</a></div>

        </div>
	<!--*******************************-->	
	<!--*****[End] style switcher *****-->
	<!--*******************************-->
