<!-- PITCHSTERS SECTION-->
<section id="about-section">
  <!-- OUR PITCHSTERS-->
    <div class="row-fluid">
    <hr class="half">
      <h2 class="center standart-h2title "> <span class="large-text">TechBreakfast CLT Pitchsters</span></span>
      </h2>
    <hr class="half">
  </div>
  <div class="row">
    <div class="span6 textleft">
      <!-- PARAGRAPH -->
      <p>
      <strong>
      <span class="main-color">Next event:</span>
        <%= next_tb_event_date.strftime("%b %d, %Y") %>
        8-9:30AM in the Garage at Packard Place.</span>
      </strong></p>

 
    	<p>Hi June Pitchsters,</p>
 
<p>As promised, <a href="agenda_format.html">here</a> is the more formal event agenda and the pitch timeframe for Wednesday, June 11th.  Please call me at 704.341.5137 if you want to discuss further and I would welcome that. <a href="mailto:ahill@packardplace.us?Subject=TechBreakfast">Adam Hill</a>, Director at Packard Place, can help you load your PowerPoint/KeyNote program onto our venue presentation computer and we would ask that you have it ready and sent to us <strong> by no later than 5 pm on Monday, June 9th </strong>for loading. If you are emailing, please send to both me and Adam Hill only.</p>
 
<p>Day of event, please plan to arrive around <strong> 7:45 am </strong> for us to get you organized with the agenda line up and meet the panelists before we start.</p>

<p>Juan Garzón has a guideline for pitching that can be found <a href="http://garzonco.com/techbreakfastclt/">here.</a></p>
 
<p>We look forward to it! Thank you again for participating in this with us!</p>

<p>-Vic Howie</p>

</div>
     
        </div>
      </div>
    </div>
</div>
      </section>