<% content_for(:title, "PitchBreakfast Livestream") %>
<!-- BODY-->
<body data-spy="scroll" data-target=".scroller-spy" data-twttr-rendered="true">
<!--START MAIN-WRAPPER--> 
<div class="main-wrapper">

  <!-- MAIN CONTENT CONTAINER -->
  <div class="container">
    <!-- START MARKETING DIV-->
    <div class="marketing">

      <%= partial "_livestream" %>

    </div>
    <!-- END MAIN WRAPPER-->
   

<%= partial "javascripts" %>

</body>