<% content_for(:title, "TechBreakfast CLT presents: IDEA Pitch") %>
<!-- BODY-->
<body data-spy="scroll" data-target=".scroller-spy" data-twttr-rendered="true">
<!--START MAIN-WRAPPER--> 
<div class="main-wrapper">
  <%= partial "page_top_section" %>
  <!-- MAIN CONTENT CONTAINER -->
  <div class="container">
    <!-- START MARKETING DIV-->
    <div class="marketing">

      <%= partial "ifp" %>

    </div>
    <!-- END MAIN WRAPPER-->
    <%= partial "footer" %>
  </div>
</div>

<%= partial "javascripts" %>

</body>
