<!-- BODY-->
<body data-spy="scroll" data-target=".scroller-spy" data-twttr-rendered="true">
<!--START MAIN-WRAPPER--> 
<div class="main-wrapper">
  <%= partial "top_section" %>
  <!-- MAIN CONTENT CONTAINER -->
  <div class="container">
    <h1>RSVP Today</h1>
    <!-- END MAIN WRAPPER-->
    <%= partial "footer" %>
  </div>
</div>

<%= partial "javascripts" %>

</body>
